<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SourceDir" value="c:\temp\"/>
    <add key="TargetDir" value="d:\Test\temp\"/>
    <add key="BackUpMode" value="True"/>
    <add key="BackUpDirName" value="_Deleted"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
