<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net configSource="log4net.config" />

  <appSettings>
    <add key="SourceDir" value="d:\Pictures\"/>
    <add key="TargetDir" value="f:\Pictures_Backup\"/>
    <add key="MaximumRetry" value="10"/>
    <add key="BackUpMode" value="True"/>
    <add key="BackUpDirName" value="_Deleted"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
